@import '../css/normalize.css'
@import 'fonts.styl'

aClaro=#40c0cb
aFuerte=#00a8c6
vClaro=#aee239
vFuerte=#8fbe00
hueso=#f9f2e7
gris=#5b5b5f

body
	background hueso
	font-family 'Roboto', sans-serif
	font-size 16px
	font-weight 100

header
	background aFuerte
	color hueso
	font-size 16px
	overflow: hidden

header figure img
	display inline-block
	float left
	padding 1em 0em 1em 1em
	margin 0
	width 80px

header h1
	font-family 'Roboto', sans-serif
	font-size 23px
	font-weight 400
	margin 0
	padding 0

header h2
	font-family 'Roboto', sans-serif
	font-size 14px
	font-weight 100
	margin 0 1em

h3
	color black
	font-weight 400
	text-align center

nav
	background aClaro
	display inline-block
	margin 0
	padding 0
	width 100%
	text-align center

nav ul
	padding 0
	margin 0

nav ul li
	display inline-block
	margin 0
	padding 0
	text-decoration none

nav ul li a
	color hueso
	display inline-block
	font-size 1.2em
	font-weight 100
	padding .4em .6em
	&:hover
		color black

footer
	width 100%
	background vFuerte
	display inline-block
	margin 0
	padding 0
	text-align center
	color hueso
	padding	1em 0
	& g-plusone
		display inline-block

section article ul 
	padding 0
	margin 0

section article ul li
	display inline-block
	margin 0
	padding 0
	text-decoration none
	font-size 1em	

section article .quienes
	text-align center
	
.container1
	margin 0
	padding 0
	width 100%

section article .icon
	font-size 4em

.nombre
	display inline-block
	margin 1em 1em 0 1em

.lema
	display inline-block
	possition relative
	top -10px

.quienes, .contacto
	width 93%
	margin auto
	line-height 1.5em
	padding 0 0 1em 0

.contacto
	text-align center

.linkIcon 
	background-color vFuerte
	border-radius 600px
	color hueso
	cursor default
	display inline-block
	font-size 7em
	margin .1em 0 0 0
	padding .2em
	text-align center
	text-decoration none

.servicios
	text-align center
	width 100%
	background-size 100%

.filtro
	background vClaro
	width 100%
	padding .1em 0 0 0

.serviciosIconos
	 display inline-block 
	 text-align center
	 padding 0 0 1em 0
	 width 250px
	 border 5px solid vFuerte
	 border-radius 5px
	 margin 5px 0

@media screen and (min-width: 1000px)

	body
		background-color white
		font-size 2em
		margin auto

	header figure img
		display inline-block
		float left
		margin 0
		padding 2em 3em
		width 200px

	header h1
		font-family 'Roboto', sans-serif
		font-size 3.5em
		font-weight 500
		margin 1em 1em
		
	header h2
		font-size 3em
		display inline-block
		position relative
		right -200px

	.nombre
		margin 1em 
		padding 0

	.lema
		margin 0
		padding 0em 1em
